// Declaring Variables

$Web-width:1000px;
$primary-color:#d27979;
$light-color:#f4f4f4;
$medium-color:rgb(123, 123, 123);
$dark-color:#333;
$background-img:url('../img/background.jpg');


.underline{
background:url();
}